@page "/initiativeattributes/delete"
@using Microsoft.EntityFrameworkCore
@using StrategyMack.Models
@inject IDbContextFactory<StrategyMack.Data.StrategyMackContext> DbFactory
@inject NavigationManager NavigationManager

<PageTitle>Delete</PageTitle>

<h1>Delete</h1>

<p>Are you sure you want to delete this?</p>
<div>
    <h2>InitiativeAttribute</h2>
    <hr />
    @if (initiativeattribute is null)
    {
        <p><em>Loading...</em></p>
    }
    else {
        <dl class="row">
            <dt class="col-sm-2">Title</dt>
            <dd class="col-sm-10">@initiativeattribute.Title</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">Description</dt>
            <dd class="col-sm-10">@initiativeattribute.Description</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">HasMultipleDetails</dt>
            <dd class="col-sm-10">@initiativeattribute.HasMultipleDetails</dd>
        </dl>
        <dl class="row">
            <dt class="col-sm-2">IsActive</dt>
            <dd class="col-sm-10">@initiativeattribute.IsActive</dd>
        </dl>
        <EditForm method="post" Model="initiativeattribute" OnValidSubmit="DeleteInitiativeAttribute" FormName="delete" Enhance>
            <button type="submit" class="btn btn-danger" disabled="@(initiativeattribute is null)">Delete</button> |
            <a href="/initiativeattributes">Back to List</a>
        </EditForm>
    }
</div>

@code {
    private InitiativeAttribute? initiativeattribute;

    [SupplyParameterFromQuery]
    private int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        using var context = DbFactory.CreateDbContext();
        initiativeattribute = await context.InitiativeAttribute.FirstOrDefaultAsync(m => m.Id == Id);

        if (initiativeattribute is null)
        {
            NavigationManager.NavigateTo("notfound");
        }
    }

    private async Task DeleteInitiativeAttribute()
    {
        using var context = DbFactory.CreateDbContext();
        context.InitiativeAttribute.Remove(initiativeattribute!);
        await context.SaveChangesAsync();
        NavigationManager.NavigateTo("/initiativeattributes");
    }
}
